*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #1e1e29;
    --bg-color2: #27293d;
    --bg-color3: #16161e;
    --txt-color: #ffffff;
    --txt-color2:rgba(255, 255, 255, 0.795);
    --main-colors: #4285F4, #10b47d, #c471ed, #f5af19, #8f94fb;
    --red: #DB4437;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color2);
}
.header {
    display: flex;
    align-items: center;
    background-color: #00000042;
    padding: 10px;
}
.logo {
    flex: 1;
    padding-left: 20px;
}
.signin {
    flex: 1;
    text-align: right;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}
.signin button{
    padding: 7px 15px;
    color: var(--txt-color);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4285F4;
}
button:hover{
    cursor: pointer;
}
.menu {
    flex: 2;
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    text-decoration: none;
    color: var(--txt-color2);
}
.main-content {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.left-section {
    justify-content: center;
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.right-section {
    flex: 1;
    padding-left: 20px;
}
h2 {
    color: var(--txt-color);
    margin: 0;
    font-size: 50px;
    margin: 10px 70px;
}
p {
    color: var(--txt-color2);
    margin: 50px;
    font-size: 22px;
}

.left-section img, .right-section img {
    max-width: 100%;
    height: auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.image {
    margin: 0px 20px;
    margin-top: 50px;
    margin: right -50px;
    display: flex;
    align-self: flex-start;
    justify-content: space-evenly;
}
.image svg {
    color: #c471ed;
    margin-right: 10px;
}
.icon-item {
    max-width: 250px;
    text-align: left;
    margin: 10px;
}
.icon-item svg {
    width: 60px;
    height: 60px;
}
.icon-item h3 {
    font-weight: normal;
    margin-top: 10px;
    font-size: 20px;
    color: var(--txt-color);
}
.icon-item p {
    text-align: left;
    color: var(--txt-color2);
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}

.main-content {
    margin-top: 15vh;
    display: flex;
    justify-content: left;
    padding: 20px;
}
.left-section {
    justify-content: left;
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
   
}
.right-section {
    flex: 1;
    padding-left: 20px;
}
h2 {
    color: var(--txt-color);
    margin: 0;
    font-size: 50px;
    margin: 10px 70px;
}
p {
    color: var(--txt-color2);
    margin: 50px;
    font-size: 22px;
}

.left-section img, .right-section img {
    max-width: 100%;
    height: auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.icon-container {
    align-items: center;
    margin: 0px 20px;
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: space-evenly;
}
.icon-item {
    text-align: left;
    margin: 10px;
}
.icon-item svg {
    width: 60px;
    height: 60px;
}
.icon-item h3 {
    font-weight: normal;
    margin-top: 10px;
    font-size: 20px;
    color: var(--txt-color);
}
.icon-item p {
    text-align: left;
    color: var(--txt-color2);
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}
.container {
    display: flex;
    align-items: center;
}
.image {
    flex: 0;
    margin-right: 20px;
}
.image img {
    width: 100%;
    max-width: 200px;
   
    height: auto;
    display: block;
}
.content {
    flex: 2;
}
.title {
    color: var(--txt-color);
    font-size: 24px;
    font-weight: bold;
}
.description {
    color: var(--txt-color2);
    font-size: 16px;
}
.footer{
    background:var(--bg-color);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
.footer .row a:hover{
    color:#fff;
}
.footer .row ul{
    width:100%;
}
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}







@media only screen and (max-width: 768px) {
  body {
    font-size: 16px; 
  }
  
  .header {
    flex-direction: column;
    align-items: center;
  }

  .signin {
    margin-top: 10px;
    text-align: center;
  }

  .main-content {
    flex-direction: column;
  }

  .left-section {
    padding-right: 0;
  }

  .right-section {
    padding-left: 0;
    margin-top: 20px;
  }

  h2 {
    margin: 0;
    font-size: 30px;
  }

  p {
    margin: 50px 0px;
    font-size: 18px;
  }

  
  .left-section img,
  .right-section img {
    max-width: 100%;
    height: auto;
  }

  
  .icon-container {
    flex-direction: column;
    margin: 20px;
  }

  .icon-item {
    text-align: center;
    margin: 10px;
  }

  
  .footer .row {
    font-size: 0.7em;
  }
  .icon-item{
    max-width: 325px;
  }
  .ml3 {
    margin: 50px 0; 
  }

  .ml3 h3 {
    font-size: 30px; 
  }

  .ml3 .subtitle {
    font-size: 16px; 
  }

  .ml3 .image_3su5N img {
    height: 190px; 
  }
}


.ml3{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    text-align: center;
    margin: 100px 0;
}
.ml3 h3{
    color: var(--txt-color);
    font-size: 45px;
    font-weight: normal;
}
.ml3 img{
    height: 450px;
}